html, body{
    margin: 0;
}

body {
    padding: 20px;
}

ul {
    list-style: none;
    padding: 0 !important;
}

img {
    width: 100%;
    height: auto;
}

li {
    margin-bottom: 25px;
}

